@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&family=Roboto:wght@100;400;700&display=swap');
*{
  font-family: 'Roboto', sans-serif;
  color: #333
}

.container{
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.data {
  width: 100%;
  justify-content: center;
}

.orderTable input[type=submit] {
  width: 100%;
  background-color: orange;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

.orderTable input[type=submit]:hover {
  border-style: solid;
  border-width: 1px;
  border-color: orange;
  background-color: white;
  color: orange;  
}

.orderTable {
  border-collapse: collapse;
  width: 80%;
  margin:auto;
  margin-top: 20px;
  height: 10px;
  cursor: pointer;
}
  
.orderTable th, td {
  text-align: left;
  padding: 8px;
}
  
.orderTable tr:nth-child(even){
  background-color: #f2f2f2
}
  
.orderTable th {
  background-color: orange;
  color: white;
}

#msg {
  text-align: center;
}

@media (max-width:500px) {
  .orderTable {
   font-size: 10px;
  }
}